@{
    ViewData["Title"] = "Home";
}
<link href="/css/site.css" rel="stylesheet" />
<div class="text-center" style="margin-top: 15vh; margin-left:auto; margin-right:auto;">
    <i class="bi bi-person-lines-fill" style="font-size: 4rem; color: #0d6efd;"></i>
    <h1 class="display-4 fw-bold text-primary">SEJA BEM-VINDO</h1>
    <p class="lead text-secondary">Organize seus contatos de forma simples e eficiente.</p>
</div>

<div class="text-center mt-4">
    <a asp-controller="Contatos" asp-action="Index" class="btn btn-primary btn-lg px-5 shadow">
        Acessar Minha Agenda
    </a>
</div>